.App {
  text-align: center;
  background-color: #eeeeee;
}

.Level {
  position: relative;
  background-image: url("images/background.png");
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 2px solid red;
}

h1 {
  color: #470f34;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 10px;
  padding: 0;
}
